# Node modules
node_modules/

# Build output
dist/
build/

# Log files
*.log

# Dependency directories
jspm_packages/

# dotenv environment variables file
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor specific files
.vscode/
.idea/
*.swp
*.swo

# NPM package lock file
package-lock.json
